@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display Italic';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

:root {
    --primary-color: white;
    --secondary-color: #f8dae0;
    --highlight-color: #8d6577;
    --border-color: #b8b8b8;
    --hover-color: #ecc7ca;
}

::selection {
    background: var(--secondary-color);
}

body, html {
    user-select: none;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, h7, p {
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.6rem;
        font-family: 'Inter', sans-serif;
    font-weight: normal;
}

h6 {
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

p {
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
}